a:-webkit-any-link {
    color:inherit;
    cursor: auto;
    text-decoration: inherit;
  }

body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: white;
}

nav {
  color: gray;
  font-size: 24px;
  text-decoration: underline;
  text-align: left;

}

#downloadLink{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

#copyright {
  text-align: right;
}

.header {
  font-size: 50px;
  font-weight: normal;
}

p {
  font-size: 21px;
  color: gray;
}

.middle, .footer {
  font-size: 42px;
  font-weight: 300;
}
